<h1><%= current_user.username %> - All Tweets</h1>

<% @tweets.each do |tweet| %>
  <div>
    <a href="<%= @tweet.id %>"><%= tweet.content %></a>
  </div>
<% end %>

<a href='/tweets/new'>Create New Tweet</a><br>
<a href='/logout'>Log Out</a>
